<!DOCTYPE html>
<html>

<header>
    <div class="navbar">
        <a class="active" href="dashboard.html">Home</a>
        <a href="registration.html">Registration</a>
        <a href="login.html">Login</a>
      </div>
      
</header>

<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../Assets/CSS/header.css">
<link rel="stylesheet" href="../Assets/CSS/dashboard.css">
<link rel="stylesheet" href="../Assets/CSS/footer.css">
<link rel="stylesheet" href="../Assets/CSS/style.css">

</head>

<body>

<div class="body_container">
<div class="leftprofile ">
    <h1> Your Profile</h1>
    <img src="../Assets/images/photo.jpg" alt="Profile Photo"/>
    <br>

    <div class="details">

    <label> UserName: </label>

    <br>
    <label> Mobile: </label>

    <br>
    <label> Email: </label>

    <br>
    <label> Facebook: </label>

    <br>
    <label> LinkedIn: </label>

</div>
    
</div>

<div class="rightpanel">
    <div class="searchdiv">
    <form action="dashboard.html" class="searchbar">
      <input type="text" placeholder="Search" name="search">
      <button type="submit"><img src="../Assets/images/search3.jpg"> </button>
    </form>
  </div>
  <br>

       <div class="other-profile">
      
        <div class="col1">
          
          <table>
              <tr>
                  
                  <td><img src="../Assets/images/photo.jpg"></td>
                  <td>
                      <li> UserName</li>
                      <li> Occupation </li>
                  </td>
                  <td class = "detailbtn">
                      <button><a href="#edit"><img src="../Assets/images/editbtn.jpg"></a></button>
                      <button style = "background-color: red;" ><a href="#delete"> <img src="../Assets/images/closebtn.jpg"> </a></button>
                  </td>

              </tr>
          </table>
          <hr>
          <div class="social">
              <button type="submit"><a href="#facebook"><img src="../Assets/images/facebook1.png"></a> </button>
              <button type="submit"><a href="#linkedin"><img src="../Assets/images/linkedin.png"></a></button>
              <button type="submit"><a href="#email"><img src="../Assets/images/email.jfif"></a></button>
          </div>
          
         </div>
         <div class="col2">

            <table>
              <tr>
                  
                  <td><img src="../Assets/images/photo.jpg"></td>
                  <td>
                      <li> UserName</li>
                      <li> Occupation </li>
                  </td>
                  <td class = "detailbtn1">
                      <button><a href="#edit"><img src="../Assets/images/editbtn.jpg"></a></button>
                      <button class="close_btn"><a href="#delete"> <img src="../Assets/images/closebtn.jpg"> </a></button>
                  </td>

              </tr>
          </table>

          <hr>

          <div class="social">
              <button type="submit"><a href="#facebook"><img src="../Assets/images/facebook1.png"></a> </button>
              <button type="submit"><a href="#linkedin"><img src="../Assets/images/linkedin.png"></a></button>
              <button type="submit"><a href="#email"><img src="../Assets/images/email.jfif"></a></button>
          </div>
            
       </div>
     </div>


     <div class="other-profile">
      
        <div class="col1">
          
          <table>
              <tr>
                  
                  <td><img src="../Assets/images/photo.jpg"></td>
                  <td>
                      <li> UserName</li>
                      <li> Occupation </li>
                  </td>
                  <td class = "detailbtn">
                      <button><a href="#edit"><img src="../Assets/images/editbtn.jpg"></a></button>
                      <button class="close_btn"><a href="#delete"> <img src="../Assets/images/closebtn.jpg"> </a></button>
                  </td>

              </tr>
          </table>
          <hr>
          <div class="social">
              <button type="submit"><a href="#facebook"><img src="../Assets/images/facebook1.png"></a> </button>
              <button type="submit"><a href="#linkedin"><img src="../Assets/images/linkedin.png"></a></button>
              <button type="submit"><a href="#email"><img src="../Assets/images/email.jfif"></a></button>
          </div>
          
         </div>
         <div class="col2">

            <table>
              <tr>
                  
                  <td><img src="../Assets/images/photo.jpg"></td>
                  <td>
                      <li> UserName</li>
                      <li> Occupation </li>
                  </td>
                  <td class = "detailbtn1">
                      <button><a href="#edit"><img src="../Assets/images/editbtn.jpg"></a></button>
                      <button class="close_btn"><a href="#delete"> <img src="../Assets/images/closebtn.jpg"> </a></button>
                  </td>

              </tr>
          </table>

          <hr>

          <div class="social">
              <button type="submit"><a href="#facebook"><img src="../Assets/images/facebook1.png"></a> </button>
              <button type="submit"><a href="#linkedin"><img src="../Assets/images/linkedin.png"></a></button>
              <button type="submit"><a href="#email"><img src="../Assets/images/email.jfif"></a></button>
          </div>
       </div>
     </div>

     <div class="other-profile">
      
        <div class="col1">
          
          <table>
              <tr>
                  
                  <td><img src="../Assets/images/photo.jpg"></td>
                  <td>
                      <li> UserName</li>
                      <li> Occupation </li>
                  </td>
                  <td class = "detailbtn">
                      <button><a href="#edit"><img src="../Assets/images/editbtn.jpg"></a></button>
                      <button class="close_btn"><a href="#delete"> <img src="../Assets/images/closebtn.jpg"> </a></button>
                  </td>

              </tr>
          </table>
          <hr>
          <div class="social">
              <button type="submit"><a href="#facebook"><img src="../Assets/images/facebook1.png"></a> </button>
              <button type="submit"><a href="#linkedin"><img src="../Assets/images/linkedin.png"></a></button>
              <button type="submit"><a href="#email"><img src="../Assets/images/email.jfif"></a></button>
          </div>
          
         </div>
         <div class="col2">

            <table>
              <tr>
                  
                  <td><img src="../Assets/images/photo.jpg"></td>
                  <td>
                      <li> UserName</li>
                      <li> Occupation </li>
                  </td>
                  <td class = "detailbtn1">
                      <button><a href="#edit"><img src="../Assets/images/editbtn.jpg"></a></button>
                      <button class="close_btn"><a href="#delete"> <img src="../Assets/images/closebtn.jpg"> </a></button>
                  </td>

              </tr>
          </table>

          <hr>

          <div class="social">
              <button type="submit"><a href="#facebook"><img src="../Assets/images/facebook1.png"></a> </button>
              <button type="submit"><a href="#linkedin"><img src="../Assets/images/linkedin.png"></a></button>
              <button type="submit"><a href="#email"><img src="../Assets/images/email.jfif"></a></button>
          </div>
       </div>
     </div>
    </div>
</div>

<div class="footer">
    <hr>
    <div class="social1">
        <button type="submit"><a href="#facebook"><img src="../Assets/images/facebook1.png"></a> </button>
        <button type="submit"><a href="#linkedin"><img src="../Assets/images/linkedin.png"></a></button>
        <button type="submit"><a href="#email"><img src="../Assets/images/email.jfif"></a></button>
    </div>
    <p class="copyright">Company Name © 2022</p>
</div>

</body>

</html>