<!DOCTYPE html>
<html>

    <header>
        <div class="navbar">
            <a class="active" href="dashboard.html">Home</a>
            <a href="registration.html">Registration</a>
            <a href="login.html">Login</a>
          </div>
          
    </header>
    <head>
        <link rel="stylesheet" href="../Assets/CSS/style.css">
        <link rel="stylesheet" href="../Assets/CSS/header.css">
        <link rel="stylesheet" href="../Assets/CSS/footer.css">
    </head>
    
    <body>

        <div class="logindiv">
        <form action="login.html">
            <h1> Login </h1>
            
            <label class = "labels">Mobile Number: </label>
            <input type="number" placeholder="Mobile" name="Mobile" class="fields" required>

            <label class = "labels">Password: </label>
            <input type="text" placeholder="Password" name="password" class="fields" required>

            <button type="submit" class="loginbtn">Login</button>

            <p> Not registeres yet <a href="registration.html">Register</a></p>

        </form>

    </div>
    </body>
</html>

