<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>

        <div class="rgstrdiv">
        <form action="Registration.html">
            <h1> Register </h1>
            
            <label class = "labels">FirstName: </label><br/>
            <input type="text" placeholder="FirstName" name="firstname" class="fields" required> <br/><br/>

            <label class = "labels">LastName: </label><br/>
            <input type="text" placeholder="LastName" name="Lastname" class="fields" required><br/><br/>

            <label class = "labels">UserName: </label><br/>
            <input type="text" placeholder="UserName" name="Username" class="fields" required><br/><br/>

            <label class = "labels">Email: </label><br/>
            <input type="text" placeholder="Email" name="Email" class="fields" required><br/><br/>

            <label class = "labels">Mobile Number: </label><br/>
            <input type="number" placeholder="Mobile" name="Mobile" class="fields" required><br/><br/>

            <label class = "labels">Password: </label><br/>
            <input type="text" placeholder="" name="pswd" class="fields" required><br/><br/>

            <label class = "labels">Confirm Password: </label><br/>
            <input type="text" placeholder="" name="cnpswd" class="fields" required><br/><br/>

            <button type="submit" class="rgstrbtn">Register</button>
            <p style="font-size:16px; text-align:center;"> Already Registered <a href="Login.html">Login</a></p>



        </form>

    </div>
    </body>
</html>

