<!DOCTYPE html>
<html>

    <header>
        <div class="navbar">
            <a class="active" href="dashboard.html">Home</a>
            <a href="registration.html">Registration</a>
            <a href="login.html">Login</a>
          </div>
          
    </header>
    <head>
        <link rel="stylesheet" href="../Assets/CSS/style.css">
        <link rel="stylesheet" href="../Assets/CSS/header.css">
        <link rel="stylesheet" href="../Assets/CSS/footer.css">
    </head>
    <body>

        <div class="rgstrdiv">
        <form action="registration.html">
            <h1> Register </h1>
            
            <label class = "labels">FirstName: </label>
            <input type="text" placeholder="FirstName" name="firstname" class="fields" required>

            <label class = "labels">LastName: </label>
            <input type="text" placeholder="LastName" name="Lastname" class="fields" required>

            <label class = "labels">UserName: </label>
            <input type="text" placeholder="UserName" name="Username" class="fields" required>

            <label class = "labels">Email: </label>
            <input type="text" placeholder="Email" name="Email" class="fields" required>

            <label class = "labels">Mobile Number: </label>
            <input type="number" placeholder="Mobile" name="Mobile" class="fields" required>

            <label class = "labels">Password: </label>
            <input type="text" placeholder="Password" name="password" class="fields" required>

            <label class = "labels">Confirm Password: </label>
            <input type="text" placeholder="" name="confirm_password" class="fields" required>

            <button type="submit" class="loginbtn">Register</button>
            <p> Already Registered <a href="login.html">Login</a></p>

        </form>
    </div>
    </body>
</html>
